**/.dockerignore
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/TestResults/
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/x86/
**/build/
**/bld/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/packages/
**/.git/
**/.gitignore
**/README.md
**/.vscode/
**/.idea/
**/*.md
**/*.txt
**/logs/
**/appsettings.Development.json
